body{
  background: white;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
.center{
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  vertical-align: middle;
  height: 100%;
  width: 90%;
  border-radius: 50px;
  font-size: 22px;
  border-color: black;
  border-style: solid;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#logo{
  height: 35px;
  width: 65px;
  padding: 10px;
  padding-left: 30px;
}
.navbar{
  margin: 0 auto;
  background-color:white;
  height: 60px;
  width: 100%;
  font-size: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navbar a{
  text-align: center;
}
.navbar ul{
  list-style-type: none;
  margin: 0 auto;
  float: right;
  padding-right: 30px;
}
li{
  display: inline-block;
}
li a{
  text-decoration: none;
  color: black;
  float: left;
  padding: 1.2em;
  font-size: 15px;
}
li a:hover{
  color: #173a57;
}
.main{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 90%;
  width: 100%;
}
.middle{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 900px;
  padding-left: 25px;
  width: 50%;
}
#cursiveName{
  height: 50%;
  width: 100%;
}
.toptext{
  padding-top: 20px;
  font-size: 30px;
}
#bottext{
  font-size: 30px;
  padding-bottom: 20px;
}
.left{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width:25%;
}
.right{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width:25%;
}
.icon{
  height: 20%;
  width: 40%;
  padding: 50px;
  border-radius: 100%;
  animation-name: grow;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.info{
  display: none;
  visibility: hidden;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  font-size: 22px;
  border-color: black;
  border-style: solid;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.bmain{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 25px;
  width: 100%;
}
.heading{
  padding-top: 0px;
  font-size: 30px;
}
@keyframes grow{
  0%   {height: 0px; width: 0px;}
  25%  {height: 5%; width: 10%;}
  50%  {height: 10%; width: 20%;}
  75%  {height: 15%; width: 30%;}
  100% {height: 20%; width: 40%;}
}
